{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Register New User</title>
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/styles.css' %}">
</head>
<body>

    {% include "includes/navbar.html" %}

    <div class="dashboard-container">
        <div class="card form-card">
            <h1>Register New User</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create User</button>
            </form>
            <a href="{% url 'inventory:manage_users' %}" class="btn btn-secondary">Back to Users</a>
        </div>
    </div>

</body>
</html>
